@import "sideBar";
//components
@import "./_views/_forms/inputs";
// paggess
@import "./_views/_pages/login";
* {
  margin: 0;
  box-sizing: border-box;
}
p {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
input:focus {
  outline: none;
}

.center {
  text-align: center;
}
.br {
  border: 1px solid red;
}
.bd {
  border: 1px dashed blue;
}
